.ChartContainer {
  background-color: transparent;
  position: relative;
  overflow: hidden;
  width: 93vw;
  height: calc(93vw * 0.5625);
  max-height: 80vh;
  max-width: calc(93vh * 1.78);
  margin: auto;
}

.chart-wrapper {

  position: relative;
  
}

useEffect(() => {
  if (intervalRef.current) {
    clearInterval(intervalRef.current);
  }
  intervalRef.current = setInterval(() => {
    nextSliderHandler();
  }, 3500);

  return () => {
    if (intervalRef.current) {
      clearInterval(intervalRef.current);
    }
  };
}, [nextSliderHandler]);